html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.🤘 {
  background: black;
}

#🍕 {
  top: calc(50vh - 168px / 2);
  left: calc(50vw - 128px / 2);
  display: inline-block;
  position: absolute;
  -webkit-animation: rotate 100s linear infinite;
  -moz-animation: rotate 100s linear infinite;
  -ms-animation: rotate 100s linear infinite;
  -o-animation: rotate 100s linear infinite;
  animation: rotate 100s linear infinite;
}

@media (max-width: 480px) {
  #🍕 {
    width: 10vw;
  }
}

.🤘 #🍕 {
  -webkit-animation: rotate 0.02777s linear infinite;
  -moz-animation: rotate 0.02777s linear infinite;
  -ms-animation: rotate 0.02777s linear infinite;
  -o-animation: rotate 0.02777s linear infinite;
  animation: rotate 0.02777s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
